<nav class="navbar navbar-default">
    <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                  <img src="https://inbooks.se/images/inbooks-logo.svg" width="110" height="25" alt="">
                </a>
              </div>
          <ul class="nav nav-pills">
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/order">Beställa</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/news">Nyheter</a></li>
            <li class="pull-right" role="presentation" routerLinkActive="active"><a routerLink="/shoopingCart">Kundvagn</a></li>
        </ul>
    </div>
</nav>